@CHARSET "UTF-8";

.qui-rating-star-container {
    float: left;
    height: 30px;
    width: 100%;
}

.qui-rating-star {
    color: #dddddd;
    cursor: pointer;
    float: left;
    font-size: 22px;
    margin: 0 5px 0 0;
    line-height: 28px;
}

.qui-rating-star:hover {
    color: #e6b800;
}

.qui-rating-star-select {
    color: #fddb5a;
}

.qui-rating-star-title {
    clear: both;
    float: left;
    font-size: 14px;
    width: 100%;
}


/** details
 * ============================================ */

.qui-rating-star-details {
    clear: both;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.qui-rating-star-details li {
    margin-bottom: 5px;
}

.qui-rating-star-details span {
    float: left;
}

.qui-rating-star-details-bar {
    background: #ececec;
    float: left;
    height: 20px;
    margin: 0 10px;
    width: 100px;
}

.qui-rating-star-details-bar-inner {
    background: #fddb5a;
    float: left;
    height: 20px;
}
